<div class="footer-middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                    <img src="/assets/client/images/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                    <p>Cửa hàng nội thất cung cấp nhiều sản phẩm giá trị phục vụ tận tình đến khách hàng </p>

                    <div class="social-icons">
                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .widget about-widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title">Pages</h4><!-- End .widget-title -->

                    <ul class="widget-list">
                        <li><a href="/gioi-thieu">Giới thiệu</a></li>
                        <li><a href="/lien-he">Liên hệ</a></li>
                        <li><a href="/dang-nhap">Đăng nhập</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title">Service</h4><!-- End .widget-title -->

                    <ul class="widget-list">
                        <li><a href="/san-pham">Shop</a></li>
                        <li><a href="/tin-tuc">Tin tức</a></li>
                        <li><a href="#">Trang chủ</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title">Account</h4><!-- End .widget-title -->

                    <ul class="widget-list">
                        <li><a href="/gio-hang">Giỏ hàng</a></li>
                        <li><a href="/yeu-thich">Danh sách yêu thích</a></li>
                        <li><a href="/lien-he">Help</a></li>
                    </ul><!-- End .widget-list -->
                </div><!-- End .widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .footer-middle -->

<div class="footer-bottom">
    <div class="container">
        <p class="footer-copyright">Sản phẩm được làm bởi: Nguyễn Minh Tài. MSSV: 64132077.</p><!-- End .footer-copyright -->
        <figure class="footer-payments">
            <img src="/assets/client/images/payments.png" alt="Payment methods" width="272" height="20">
        </figure><!-- End .footer-payments -->
    </div><!-- End .container -->
</div><!-- End .footer-bottom -->