<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg-btn"> <i data-feather="align-justify"></i></a>
            </li>
            <li>
                <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                    <i data-feather="maximize"></i>
                </a>
            </li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="300">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown"
               class="nav-link nav-link-lg message-toggle">
                <i data-feather="mail"></i>
            </a>
        </li>
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown"
               class="nav-link notification-toggle nav-link-lg">
                <i data-feather="bell" class="bell"></i>
            </a>
        </li>
        @{
            // Lấy thông tin từ session
            var session = (WebNoiThat_64132077.Common.UserLogin)Session[WebNoiThat_64132077.Common.CommonConstants.ADMIN_SESSION];

        }
        @if (session != null)
        {
            var username = session.UserName; // Lấy username từ session
            var userId = session.UserID; // Lấy UserID từ session
            WebNoiThat_64132077.Models.EF.WebNoiThat_64132077DbContext db = new WebNoiThat_64132077.Models.EF.WebNoiThat_64132077DbContext();
            // Truy vấn thông tin User từ database thông qua Username hoặc UserID
            var user = db.Users.FirstOrDefault(u => u.Username == username || u.ID == userId);
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                    @if (session != null && user != null)
                    {
                        <img alt="image" src="@Url.Content(user.Image ?? "/Assets/admin/img/user.png")" class="user-img-radious-style">
                    }
                    else
                    {
                        <img alt="image" src="/Assets/admin/img/user.png" class="user-img-radious-style">
                        <span class="d-sm-none d-lg-inline-block">Quản trị viên</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right pullDown">
                    @if (session != null && user != null)
                    {
                        <div class="dropdown-title">@user.Fullname</div>
                    }
                    else
                    {
                        <div class="dropdown-title">Quản trị viên</div>
                    }
                    <a href="@Url.Action("Edit", "User_64132077", new { id = user?.ID })" class="dropdown-item has-icon">
                        <i class="far fa-user"></i> Profile
                    </a>

                    <div class="dropdown-divider"></div>
                    <a href="@Url.Action("Logout", "Base_64132077")" class="dropdown-item has-icon text-danger">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </li>
        }
    </ul>
</nav>

