@model WebNoiThat_64132077.Models.EF.About
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="container">
    <div class="page-header page-header-big text-center" style="background-image: url('assets/images/about-header-bg.jpg')">
        <h1 class="page-title text-white">Giới thiệu<span class="text-white">Website nội thất</span></h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->

<div class="page-content pb-0">
    <div class="container mb-5">
        @Html.Raw(Model.Detail)
    </div><!-- End .container -->

    <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <a href="/tin-tuc" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                        <span>VIEW OUR NEWS</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .col-lg-5 -->

                <div class="col-lg-6 offset-lg-1">
                    <div class="about-images">
                        <img src="assets/images/about/img-1.jpg" alt="" class="about-img-front">
                        <img src="assets/images/about/img-2.jpg" alt="" class="about-img-back">
                    </div><!-- End .about-images -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-light-2 pt-6 pb-6 -->

    <div class="mb-2"></div><!-- End .mb-2 -->


</div><!-- End .page-content -->
